#sourceLanguage select {
  margin: 0px 8px 8px;
  width: calc(100% - 16px);
}

#translateButton {
  flex-grow: 1;
  height: var(--button-height);
}

#clearCacheButton {
  height: var(--button-height);
  margin-right: 4px;
  font-size:11px;
  width: 70px;
  padding: 8px;
}

#fontReplacement .container {
  width: 100%;
  min-height: 195px;
  padding-right: 8px;
  overflow: scroll;
}
