#sourceLanguage select {
  margin: 0px 8px 8px;
  width: calc(100% - 16px);
}

#translateButton {
  flex-grow: 1;
  height: var(--button-height);
}

#clearCacheButton {
  height: var(--button-height);
  margin-right: 4px;
  font-size:11px;
  width: 70px;
  padding: 8px;
}

#fontReplacement .container {
  width: 100%;
  min-height: 195px;
  padding-right: 8px;
  overflow: scroll;
}

#fontReplacement .fontsContainer .fontFamily {
  white-space: nowrap;
  padding: 4px;
  margin: 2px;
  font-weight: bold;
}

#fontReplacement .fontsContainer .fontStyleWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#fontReplacement .fontsContainer .fontStyle {
  border: 1px solid rgba(var(--primary-color), 1);
  color: rgba(var(--primary-color), 1);
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
  margin: 2px;
}