#targetLocalesContainer {
  width: 100%;
  height: 195px;
  overflow: scroll;
  padding: 8px;
}

#targetLocaleSearchInput {
  width: 100%;
}

#templateScale {
  width: 70px;
  height: 38px;
  margin-right: 4px;
  font-size: 1rem;
  border: 1px solid rgba(var(--primary-color, 1));
  color: rgb(var(--primary-color));
}

#createTemplatesButton {
  flex-grow: 1;
}

#templates {
  padding: 0px 8px 8px;
}

#templatesContainer {
  width: 100%;
  padding-right: 12px;
}