:root {
  --primary-color: 0, 111, 249;
  --input-border: 1px solid rgba(0, 0, 0, 0.4);
  --button-height: 38px;
  --slider-width: 42px;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 12px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 5px 2px rgba(var(--primary-color), 0.25);
}

a {
  color: rgba(var(--primary-color), 1);
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  flex-grow: 1;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 16px;
}

hr {
  width: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  margin: 4px 0px;
}

fieldset {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 0;
  margin: 8px 16px;
}

fieldset legend {
  font-weight: bold;
}

button {
  background-color: transparent;
  border: 1px solid rgb(var(--primary-color), 1);
  border-radius: 4px;
  color: rgb(var(--primary-color));
  cursor: pointer;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  width: 100%;
  padding: 4px 6px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 6px;
  border: var(--input-border);
}

input {
  border-radius: 4px;
  padding: 6px;
  border: var(--input-border);
  font-size: 1rem;
}

input[type="text"] {
  padding: 6px 24px 6px 6px;
}

input[type="checkbox"] {
  transform: scale(1.0) translateY(-1px);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.radioOption {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.radioOption > input {
  margin: 8px;
}

fieldset .description {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.35);
  padding: 4px 8px;
}

.searchContainer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.inputClearButton {
  position: absolute;
  right: 3px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  height: 30px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.w100 {
  width: 100%
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: var(--slider-width);
  height: calc(var(--slider-width) / 2);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--slider-width) / 3);
  width: calc(var(--slider-width) / 3);
  left: calc(var(--slider-width) / 12);
  bottom: calc(var(--slider-width) / 12);
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgba(var(--primary-color), 1);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(var(--primary-color), 1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(calc(var(--slider-width) / 3));
  -ms-transform: translateX(calc(var(--slider-width) / 3));
  transform: translateX(calc(var(--slider-width) / 3));
}

/* Rounded sliders */
.slider.round {
  border-radius: var(--slider-width);
}

.slider.round:before {
  border-radius: 50%;
}
